@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}
.window-app.max-dig-1 {
  width: calc(5px + 1 * 10px);
}
.window-app.max-dig-2 {
  width: calc(5px + 2 * 10px);
}
.window-app.max-dig-3 {
  width: calc(5px + 3 * 10px);
}
.window-app.max-dig-4 {
  width: calc(5px + 4 * 10px);
}
.window-app.max-dig-5 {
  width: calc(5px + 5 * 10px);
}
.window-app.max-dig-6 {
  width: calc(5px + 6 * 10px);
}
.window-app.max-dig-7 {
  width: calc(5px + 7 * 10px);
}
.window-app.max-dig-8 {
  width: calc(5px + 8 * 10px);
}
.window-app.max-dig-9 {
  width: calc(5px + 9 * 10px);
}
.window-app.max-dig-10 {
  width: calc(5px + 10 * 10px);
}

.select2-dropdown {
  z-index: 1051;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

textarea {
  min-height: 0px;
}

input:-moz-read-only {
  background: initial;
  box-shadow: none;
  border: #d5d3c7;
  cursor: default;
}

input:read-only {
  background: initial;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: #d5d3c7;
  cursor: default;
}
input:-moz-read-only.max-dig-1 {
  width: calc(5px + 1 * 10px);
}
input:read-only.max-dig-1 {
  width: calc(5px + 1 * 10px);
}
input:-moz-read-only.max-dig-2 {
  width: calc(5px + 2 * 10px);
}
input:read-only.max-dig-2 {
  width: calc(5px + 2 * 10px);
}
input:-moz-read-only.max-dig-3 {
  width: calc(5px + 3 * 10px);
}
input:read-only.max-dig-3 {
  width: calc(5px + 3 * 10px);
}
input:-moz-read-only.max-dig-4 {
  width: calc(5px + 4 * 10px);
}
input:read-only.max-dig-4 {
  width: calc(5px + 4 * 10px);
}
input:-moz-read-only.max-dig-5 {
  width: calc(5px + 5 * 10px);
}
input:read-only.max-dig-5 {
  width: calc(5px + 5 * 10px);
}
input:-moz-read-only.max-dig-6 {
  width: calc(5px + 6 * 10px);
}
input:read-only.max-dig-6 {
  width: calc(5px + 6 * 10px);
}
input:-moz-read-only.max-dig-7 {
  width: calc(5px + 7 * 10px);
}
input:read-only.max-dig-7 {
  width: calc(5px + 7 * 10px);
}
input:-moz-read-only.max-dig-8 {
  width: calc(5px + 8 * 10px);
}
input:read-only.max-dig-8 {
  width: calc(5px + 8 * 10px);
}
input:-moz-read-only.max-dig-9 {
  width: calc(5px + 9 * 10px);
}
input:read-only.max-dig-9 {
  width: calc(5px + 9 * 10px);
}
input:-moz-read-only.max-dig-10 {
  width: calc(5px + 10 * 10px);
}
input:read-only.max-dig-10 {
  width: calc(5px + 10 * 10px);
}

button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
button:active {
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 2px #666;
  box-shadow: 0 2px #666;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
button.change {
  color: green;
  font-size: 20px;
  border-radius: 25%;
  padding: 0%;
  margin: 0%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: url(./heroes3pointer.webp), pointer;
}
button.change:disabled {
  color: red;
  cursor: url(./heroes3cancel.webp), not-allowed;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-13col {
  grid-column: span 13/span 13;
  grid-template-columns: repeat(13, minmax(0, 1fr));
}

.grid-14col {
  grid-column: span 14/span 14;
  grid-template-columns: repeat(14, minmax(0, 1fr));
}

.grid-15col {
  grid-column: span 15/span 15;
  grid-template-columns: repeat(15, minmax(0, 1fr));
}

.grid-16col {
  grid-column: span 16/span 16;
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.grid-17col {
  grid-column: span 17/span 17;
  grid-template-columns: repeat(17, minmax(0, 1fr));
}

.grid-18col {
  grid-column: span 18/span 18;
  grid-template-columns: repeat(18, minmax(0, 1fr));
}

.grid-19col {
  grid-column: span 19/span 19;
  grid-template-columns: repeat(19, minmax(0, 1fr));
}

.grid-20col {
  grid-column: span 20/span 20;
  grid-template-columns: repeat(20, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-start-13 {
  grid-column-start: 13;
}

.grid-start-14 {
  grid-column-start: 14;
}

.grid-start-15 {
  grid-column-start: 15;
}

.grid-start-16 {
  grid-column-start: 16;
}

.grid-start-17 {
  grid-column-start: 17;
}

.grid-start-18 {
  grid-column-start: 18;
}

.grid-start-19 {
  grid-column-start: 19;
}

.grid-start-20 {
  grid-column-start: 20;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.grid-span-13 {
  grid-column-end: span 13;
}

.grid-span-14 {
  grid-column-end: span 14;
}

.grid-span-15 {
  grid-column-end: span 15;
}

.grid-span-16 {
  grid-column-end: span 16;
}

.grid-span-17 {
  grid-column-end: span 17;
}

.grid-span-18 {
  grid-column-end: span 18;
}

.grid-span-19 {
  grid-column-end: span 19;
}

.grid-span-20 {
  grid-column-end: span 20;
}

table.center {
  text-align: center;
}
table th.description {
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  width: 50%;
}
table tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0);
}
table tr:nth-child(even) th,
table tr:nth-child(even) td {
  background-color: rgba(255, 255, 255, 0.2);
}
table tr td {
  border: 1px solid transparent;
}
table tr td.description {
  border: none;
}
table tr:nth-child(2) td:nth-last-child(2) {
  border-right: 1px solid black;
}
table tr:nth-child(n+3) td:nth-last-child(1) {
  border-right: 1px solid black;
}
table tr td.chosen,
table tr th.chosen {
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}
table tr td.chosen:first-child,
table tr th.chosen:first-child {
  border-left: 1px solid red;
}
table tr td.chosen.last,
table tr th.chosen.last {
  border-right: 1px solid red;
}
table tr td.over-chosen,
table tr th.over-chosen {
  border-bottom: 1px solid red;
}
table tr td.under-chosen,
table tr th.under-chosen {
  border-top: 1px solid red;
}

.select2-selection--multiple .select2-selection__choice {
  padding: left 0;
}

.select2-results > .select2-results__options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.select2-results-dept-0 {
  /* do the columns */
  float: left;
  width: 20%;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexlarge {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.align-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.grid-like-2col {
  max-width: calc((100% - 4%) / 2);
  min-width: calc((100% - 4%) / 2);
  margin-right: 2%;
  margin-top: 2%;
}

.grid-like-3col {
  max-width: calc((100% - 6%) / 3);
  min-width: calc((100% - 6%) / 3);
  margin-right: 2%;
  margin-top: 2%;
}

.grid-like-4col {
  max-width: calc((100% - 8%) / 4);
  min-width: calc((100% - 8%) / 4);
  margin-right: 2%;
  margin-top: 2%;
}

.grid-like-5col {
  max-width: calc((100% - 10%) / 5);
  min-width: calc((100% - 10%) / 5);
  margin-right: 2%;
  margin-top: 2%;
}

.grid-like-6col {
  max-width: calc((100% - 12%) / 6);
  min-width: calc((100% - 12%) / 6);
  margin-right: 2%;
  margin-top: 2%;
}

/* Styles limited to ard20 sheets */
.ard20 {
  /* ----------------------------------------- */
  /*  Items Lists                              */
  /* ----------------------------------------- */
  /* Example style for ard20 (can be removed if not needed) */
}
.ard20 .item-form {
  font-family: "Roboto", sans-serif;
}
.ard20 .sheet-header {
  -webkit-box-flex: 0;
  -ms-flex: 0 auto;
  flex: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.ard20 .sheet-header .profile-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.ard20 .sheet-header .header-fields {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ard20 .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.ard20 .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.ard20 .sheet-tabs {
  -webkit-box-flex: 0;
  -ms-flex: 0;
  flex: 0;
}
.ard20 .sheet-tabs.tabs {
  text-align: center;
}
.ard20 .sheet-body,
.ard20 .sheet-body .tab,
.ard20 .sheet-body .tab .editor {
  height: 100%;
}
.ard20 .sheet-body .tab ol {
  margin: 0;
  padding: 0;
}
.ard20 .sheet-body .tab ol li {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.ard20 .sheet-body .tab ol li.header {
  background: rgba(0, 0, 0, 0.05);
}
.ard20 .tox .tox-editor-container {
  background: #fff;
}
.ard20 .tox .tox-edit-area {
  padding: 0 8px;
}
.ard20 .resource-label {
  font-weight: bold;
}
.ard20 .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.ard20 .items-header > * {
  font-size: 14px;
  text-align: center;
}
.ard20 .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ard20 .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.ard20 .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ard20 .items-list .item-name {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.ard20 .items-list .item-name h3,
.ard20 .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.ard20 .items-list .item-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100px;
  flex: 0 0 100px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.ard20 .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.ard20 .items-list .item-controls .item-toggle {
  color: #b5b3a4;
}
.ard20 .items-list .item-controls .item-toggle.active {
  color: #4b4a44;
}
.ard20 .items-list .item-controls .item-toggle.fixed {
  color: #44191A;
}
.ard20 .items-list .item-controls .item-toggle.fixed:hover {
  text-shadow: none;
}
.ard20 .items-list .item {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.ard20 .items-list .item:last-child {
  border-bottom: none;
}
.ard20 .items-list .item .item-name {
  color: #191813;
}
.ard20 .items-list .item .item-name .item-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30px;
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.ard20 .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.ard20 .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.ard20 .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.ard20 .items-list .item-name {
  padding-left: 5px;
  text-align: left;
}
.ard20 .item-formula {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  padding: 0 8px;
}
.ard20 .item-description-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.ard20 .item-description-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2;
}
.ard20 .item-description-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.ard20 .item-description-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4;
}
.ard20 .item-description-5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5;
}
.ard20 .item-description-6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6;
}
.ard20 .item-description-7 {
  -webkit-box-flex: 7;
  -ms-flex: 7;
  flex: 7;
}
.ard20 .item-description-8 {
  -webkit-box-flex: 8;
  -ms-flex: 8;
  flex: 8;
}
.ard20 .item-description-9 {
  -webkit-box-flex: 9;
  -ms-flex: 9;
  flex: 9;
}
.ard20 .item-description-10 {
  -webkit-box-flex: 10;
  -ms-flex: 10;
  flex: 10;
}
.ard20 .item-description-11 {
  -webkit-box-flex: 11;
  -ms-flex: 11;
  flex: 11;
}
.ard20 .item-description-12 {
  -webkit-box-flex: 12;
  -ms-flex: 12;
  flex: 12;
}
.ard20 .item-description-13 {
  -webkit-box-flex: 13;
  -ms-flex: 13;
  flex: 13;
}
.ard20 .item-description-14 {
  -webkit-box-flex: 14;
  -ms-flex: 14;
  flex: 14;
}
.ard20 .item-description-15 {
  -webkit-box-flex: 15;
  -ms-flex: 15;
  flex: 15;
}
.ard20 .item-description-16 {
  -webkit-box-flex: 16;
  -ms-flex: 16;
  flex: 16;
}
.ard20 .item-description-17 {
  -webkit-box-flex: 17;
  -ms-flex: 17;
  flex: 17;
}
.ard20 .item-description-18 {
  -webkit-box-flex: 18;
  -ms-flex: 18;
  flex: 18;
}
.ard20 .item-description-19 {
  -webkit-box-flex: 19;
  -ms-flex: 19;
  flex: 19;
}
.ard20 .item-description-20 {
  -webkit-box-flex: 20;
  -ms-flex: 20;
  flex: 20;
}
.ard20 .effects .item .effect-source,
.ard20 .effects .item .effect-duration,
.ard20 .effects .item .effect-controls {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.ard20 .effects .item .effect-controls {
  border: none;
}

.ard20.chat-card {
  font-style: normal;
  font-size: 12px;
}
.ard20.chat-card .d20crit {
  color: green;
}
.ard20.chat-card .d20fumble {
  color: red;
}
.ard20.chat-card .d20normal {
  color: initial;
}
.ard20.chat-card .card-header {
  padding: 3px 0;
  border-top: 2px groove #fff;
  border-bottom: 2px groove #fff;
}
.ard20.chat-card .card-header img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 36px;
  flex: 0 0 36px;
  margin-right: 5px;
}
.ard20.chat-card .card-header h3 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0;
  line-height: 36px;
  color: #808000;
}
.ard20.chat-card .card-header h3:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.ard20.chat-card .card-content {
  margin: 5px 0;
}
.ard20.chat-card .card-content h3 {
  font-size: 12px;
  margin: 0;
  font-weight: bold;
}
.ard20.chat-card .card-content > * {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}
.ard20.chat-card .attack-target {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  text-align: center;
}
.ard20.chat-card .attack-target .chat-portrait {
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}
.ard20.chat-card .attack-target .chat-portrait img {
  width: 36px;
  height: 36px;
}
.ard20.chat-card .attack-target .attack-roll .flexrow .value:hover {
  color: #111;
  text-shadow: 0 0 10px red;
}
.ard20.chat-card .attack-target .attack-roll .hover-roll.shown,
.ard20.chat-card .attack-target .attack-roll .hover-roll.shown .dice-tooltip {
  max-height: 500px;
  -webkit-transition: max-height 0.25s ease-in;
  -o-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
}
.ard20.chat-card .attack-target .attack-roll .hover-roll.shown .dice-total,
.ard20.chat-card .attack-target .attack-roll .hover-roll.shown .dice-tooltip .dice-total {
  display: none;
}
.ard20.chat-card .attack-target .attack-roll .hover-roll:hover,
.ard20.chat-card .attack-target .attack-roll .hover-roll:hover .dice-tooltip {
  max-height: 500px;
  -webkit-transition: max-height 0.25s ease-in;
  -o-transition: max-height 0.25s ease-in;
  transition: max-height 0.25s ease-in;
}
.ard20.chat-card .attack-target .attack-roll .hover-roll:hover .dice-total,
.ard20.chat-card .attack-target .attack-roll .hover-roll:hover .dice-tooltip .dice-total {
  display: none;
}
.ard20.chat-card .attack-target .hover-roll,
.ard20.chat-card .attack-target .dice-tooltip {
  max-height: 0;
  -webkit-transition: max-height 0.15s ease-out;
  -o-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
  display: inherit;
}
.ard20.chat-card .attack-target .hover-roll .dice-total,
.ard20.chat-card .attack-target .dice-tooltip .dice-total {
  display: none;
}
.ard20.chat-card .card-buttons span {
  display: block;
  line-height: 28px;
  text-align: center;
  border: 1px solid;
}
.ard20.chat-card .card-buttons button {
  font-size: 12px;
  height: 24px;
  line-height: 20px;
  margin: 2px 0;
}
.ard20.chat-card .card-footer {
  padding: 3px 0 0;
  border-top: 2px groove #fff;
}
.ard20.chat-card .card-footer span {
  border-right: 2px groove #fff;
  padding: 0 3px 0 0;
  font-size: 10px;
}
.ard20.chat-card .card-footer span:last-child {
  border-right: none;
  padding-right: 0;
}

.roll-controls {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}
.roll-controls .warning {
  color: orange;
}
.roll-controls .warning:hover {
  text-shadow: 0 0 10px red;
}
.roll-controls .accept {
  color: green;
}
.roll-controls .accept:hover {
  text-shadow: 0 0 10px red;
}

.dice-roll .dice-total.success {
  color: inherit;
  background: #c7d0c0;
  border: 1px solid #006c00;
}
.dice-roll .dice-total.failure {
  color: inherit;
  background: #ffdddd;
  border: 1px solid #6e0000;
}
.dice-roll .dice-total.critical {
  color: green;
}
.dice-roll .dice-total.fumble {
  color: red;
}