<ol class="items-list">
  <li><div class="items-header">Weapons</div>
    <ol>
      <li class="item flexrow items-header">
        <div class="item-name">Name</div>
        <div class="item-prop">Type</div>
        <div class="item-prop">Proficiency</div>
        <div class="item-prop">Damage</div>
        <div class="item-controls">
          <a class="item-control item-create" title="Create item" data-type="weapon"><i class="fas fa-plus"></i> Add item</a>
        </div>
      </li>
      {{#each weapons as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name">
            <div class="item-image">
              <a class="item-roll" data-roll-type="weapon"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></a>
            </div>
            <h4>{{item.name}}</h4>
          </div>
          <div class="item-prop">{{item.data.type.name}}</div>
          <div class="item-prop">{{item.data.proficiency.name}}</div>
          <div class="item-prop">{{item.data.damage.current.formula}}</div>
          <div class="item-controls">
            <a class="item-control item-toggle {{item.toggleClass}}" title="{{item.toggleTitle}}"><i class="fas fa-shield-alt"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </li>
  <hr>
  <li><div class="items-header flexcol"><div>Armor</div><div>Подвижность: {{data.heavyPoints}}</div></div>
    <ol>
      <li class="item flexrow items-header">
        <div class="item-name">Name</div>
        <div class="item-prop">Slot</div>
        <div class="item-prop">Type</div>
        <div class="item-controls">
          <a class="item-control item-create" title="Create item" data-type="armor"><i class="fas fa-plus"></i> Add item</a>
        </div>
      </li>
      {{#each armor as |item id|}}
        <li class="item flexrow" data-item-id="{{item._id}}">
          <div class="item-name">
            <div class="item-image">
              <a class="item-roll" data-roll-type="armor"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24" /></a>
            </div>
            <h4>{{item.name}}</h4>
          </div>
          <div>{{item.data.slot}}</div>
          <div>{{item.data.type}}</div>
          <div class="item-controls">
            <a class="item-control item-toggle {{item.toggleClass}}" title="{{item.toggleTitle}}"><i class="fas fa-shield-alt"></i></a>
            <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
            <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
        </li>
      {{/each}}
    </ol>
  </li>
</ol>
