@mixin digits {
  @for $i from 1 through 10 {
    &.max-dig-#{$i} {
      width: calc(5px + #{$i} * 10px);
    }
  }
}
.window-app {
  font-family: $font-primary;
  @include digits();
}
.select2-dropdown {
  z-index: 1051;
}
.rollable {
  &:hover,
  &:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
}
textarea {
  min-height: 0px;
}
input {
  &:read-only {
    background: initial;
    box-shadow: none;
    border: #d5d3c7;
    cursor: default;
    @include digits();
  }
}

button {
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
  &:active {
    background-color: rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px #666;
    transform: translateY(2px);
  }
  &.change {
    color: green;
    font-size: 20px;
    border-radius: 25%;
    padding: 0%;
    margin: 0%;
    width: fit-content;
    height: fit-content;
    cursor: url(./heroes3pointer.webp), pointer;
    &:disabled {
      color: red;
      cursor: url(./heroes3cancel.webp), not-allowed;
    }
  }
}
