<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
    {{#unless data.isReady}}
        Your Character is not fully created, please start or continue creation
        <button type="button" class="config-button" data-action="adv">Create Character</button>

    {{else}}
        {{!-- Sheet Header --}}
        <header class="sheet-header">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
            <div class="header-fields">
                <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name" /></h1>
                <div class="resources grid flexcol flex-group-center grid-8col">
                    <div class="resource grid-span-2">
                        <label for="data.health.value" class="resource-label">Health</label>
                        <div class="resource-content flexrow flex-center">
                            <input type="text" name="data.health.value" value="{{data.health.value}}" min="-{{data.health.max}}"
                                max="{{data.health.max}}" data-dtype="Number" />
                            <span>/</span>
                            <input type="text" name="data.health.max" value="{{data.health.max}}" data-dtype="Number" />
                        </div>
                    </div>
                    <div class="resource flexcol">
                        <label for="data.speed.value" class="resource-label">speed</label>
                        <span data-label="data.speed.value">{{numberFormat data.speed.value decimals=0 sign=false}}</span>
                    </div>
                    <div class="resource flexcol grid-span-2">
                        <label for="data.advancement.xp.used" class="resource-label">xp</label>
                        <div class="resource-content flexrow flex-center">
                            <input type="text" data-dtype="Number" name="data.advancement.xp.get" value="{{data.advancement.xp.get}}" />
                            <span>/</span>
                            <input type="text" data-dtype="Number" {{#unless isGM}} readonly{{/unless}} name="data.advancement.xp.used"
                                value="{{data.advancement.xp.used}}" />
                        </div>
                    </div>
                    <div class="resource flexcol grid-span-3">
                        <div>
                            <progress max="{{data.advancement.xp.bar_max}}" value="{{data.advancement.xp.bar_min}}"></progress>
                            <span data-label="data.advancement.xp.level">
                                {{numberFormat data.advancement.xp.level decimals=0 sign=false}}
                            </span>
                            <div class="resource-content flexrow flex-center flex-between">
                                <label for="data.advancement.level" class="resource-label">Level </label>
                                <span class="resource-content"
                                    data-label="data.advancement.level">{{numberFormat data.advancement.level decimals=0 sign=false}}
                                </span>
                            </div>
                        </div>
                        <div class="flex-group-center grid grid-5col">
                            <div class="resource-content flexrow flex-center flex-between grid grid-span-2">
                                <label for="data.advancement.prof_bonus" class="resource-label">
                                    Bonus
                                </label>
                                <span class="resource-content flex-center" data-label="data.advancement.prof_bonus">
                                    {{numberFormat data.advancement.prof_bonus decimals=0 sign=false}}
                                </span>
                            </div>
                            <div class="resource-content flexrow flex-center flex-between grid-span-2">
                                <label for="data.advancement.prof_die" class="resource-label">
                                    die
                                </label>
                                <span class="resource-content rollable flex-center" data-roll="@advancement.prof_die"
                                    data-label="data.advancement.prof_die">
                                    {{data.advancement.prof_die}}
                                </span>
                            </div>
                            <button type="button" class="config-button" data-action="adv">
                                Advancement
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            {{!-- Default tab is specified in actor-sheet.mjs --}}
            <a class="item" data-tab="main">Main</a>
            <a class="item" data-tab="description">Description</a>
            <a class="item" data-tab="equip">Equipment</a>
            <a class="item" data-tab="items">Items</a>
            <a class="item" data-tab="features">Features</a>
            <a class="item" data-tab="spells">Spells</a>
            <a class="item" data-tab="effects">Effects</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">

            <div class="tab main" data-group="primary" data-tab="main">
                <section class="grid grid-6col flexcol">
                    <aside class="attribute grid grid-3col">
                        <div class="attribute flex-group-center grid-span-2">
                            {{#each data.attributes as |attribute key|}}
                                <div class="attribute flexrow" data-attribute="{{key}}">
                                    <label for="data.attributes.{{key}}.value" class="resource-label attribute-name rollable flexlarge align-left"
                                        data-label="{{attribute.label}}">{{attribute.label}}</label>
                                    <input type="text" name="data.attributes.{{key}}.value" value="{{attribute.value}}" data-dtype="Number" />
                                    <span class="attribute-mod rollable" data-roll="d20+@attributes.{{key}}.mod"
                                        data-label="{{attribute.label}}">{{numberFormat attribute.mod decimals=0 sign=true}}</span>
                                </div>
                            {{/each}}
                        </div>
                        <div>
                            {{#each data.defences.stats as |defence key|}}
                                <div class="attribute flexrow">
                                    <label for="data.defences.stats.{{key}}.value" class="resource-label flexlarge align-left rollable"
                                        data-roll="1d20+{{numberFormat defence.value decimals=0 sign=false}}-10" data-label="{{defence.label}}">
                                        {{defence.label}}
                                    </label>
                                    <span class="attribute-mod " data-label="{{defence.label}}">
                                        {{numberFormat defence.value decimals=0 sign=false}}
                                    </span>
                                </div>
                            {{/each}}
                        </div>
                        <div class="grid-span-2">
                            {{#each data.skills as |skill key|}}
                                <div class="flexrow" data-skill="{{key}}">
                                    <div data-skill="{{key}}">
                                        <label for="data.skills.{{key}}.rank" class="flex0 resource-label skill-name rollable flexlarge align-left">
                                            {{skill.rankName}} {{skill.name}}
                                        </label>
                                    </div>
                                </div>
                            {{/each}}
                        </div>
                    </aside>
                    {{!-- For the main features list, span the right two columns --}}
                    <section class="main grid-start-4 grid-span-3">
                        {{> "systems/ard20/templates/actor/parts/actor-features.html"}}
                    </section>
                </section>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Physical</th>
                        <th>Magical</th>
                    </tr>
                    {{#each config.DamageSubTypes as |dam key|}}
                        <tr>
                            <td>{{localize dam}}</td>
                            <td>{{#if (and (ne key 'rad') (ne key 'force') (ne key 'psyhic'))}}
                                    {{#with (lookup @root.data.defences.damage.phys key)}}
                                        {{#if (ne type 'imm')}}
                                            {{value}}
                                        {{else}}
                                            immune
                                        {{/if}}
                                    {{/with}}
                                {{else}}
                                    ---
                                {{/if}}
                            </td>
                            <td>{{#with (lookup @root.data.defences.damage.mag key)}}
                                    {{#if (ne type 'imm')}}
                                        {{value}}
                                    {{else}}
                                        immune
                                    {{/if}}
                                {{/with}}
                            </td>
                        </tr>
                    {{/each}}
                </table>
            </div>

            {{!-- Biography Tab --}}
            <div class="tab biography" data-group="primary" data-tab="description">
                {{editor content=data.biography target="data.biography" rollData=rollData button=true owner=owner editable=editable}}
            </div>

            {{!-- Owned Weapon Tab --}}
            <div class="tab equip" data-group="primary" data-tab="equip">
                {{> "systems/ard20/templates/actor/parts/actor-equip.html"}}
            </div>

            {{!-- Owned Items Tab --}}
            <div class="tab items" data-group="primary" data-tab="items">
                {{> "systems/ard20/templates/actor/parts/actor-items.html"}}
            </div>
            {{!-- Owned Features Tab --}}
            <div class="tab features" data-group="primary" data-tab="features">
                {{> "systems/ard20/templates/actor/parts/actor-features.html"}}
            </div>

            {{!-- Owned Spells Tab --}}
            <div class="tab spells" data-group="primary" data-tab="spells">
                {{> "systems/ard20/templates/actor/parts/actor-spells.html"}}
            </div>

            {{!-- Active Effects Tab --}}
            <div class="tab effects flexcol" data-group="primary" data-tab="effects">
                {{> "systems/ard20/templates/actor/parts/actor-effects.html"}}
            </div>

        </section>
    {{/unless}}
</form>
