<div class="ard20 chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}" {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}} {{#if isSpell}}data-spell-level="{{item.data.level}}" {{/if}}>
    {{log this}}
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36" />
        <h3 class="item-name">{{item.name}}</h3>
    </header>
    <div class="card-content">
        {{{data.description.value}}}
        {{#if data.materials.value}}
            <p><strong>{{ localize "ARd20.RequiredMaterials" }}.</strong> {{data.materials.value}}</p>
        {{/if}}
        {{#if (or hasAttack hasDamage)}}
            <ol class="flexcol items-list attack-target">
                {{#if (gt targets.length 0)}}
                    <li class=" flexrow items-header">
                        <div class="flex2">Target:</div>
                        {{#if hasAttack}}
                            <div>{{localize "ARd20.Attack"}}:</div>
                        {{/if}}
                        {{#if hasDamage}}
                            <div>{{localize "ARd20.Damage"}}</div>
                        {{/if}}
                    </li>
                {{/if}}
                {{#if (eq targets.length 0)}}
                    <li class="flexrow">
                        {{#if @root.hasAttack}}
                            <div class="attack-roll">
                                <div style="text-align:center"> {{localize "ARd20.Attack"}}:</div>
                                <div>{{{atkHTML.[0]}}}</div>
                            </div>
                        {{/if}}
                        {{#if @root.hasDamage}}
                            <div class="damage-roll card-buttons">
                                <div style="text-align:center">Damage:</div>
                                <button data-action="damage">{{localize "ARd20.Damage"}}</button>
                            </div>
                        {{/if}}
                    </li>
                {{/if}}
                {{#each targets as |target key|}}
                    {{log key}}
                    {{log (lookup @root.dieResultCss key)}}
                    <li class="flexrow" data-target-id="{{target.document.uuid}}">
                        <div class="chat-portrait item item-prop">
                            <img src="{{target.data.img}}" title="{{target.name}}" />
                        </div>
                        <div class="item item-prop">{{target.name}}</div>
                        {{#if @root.hasAttack}}
                            <div class="attack-roll item item-prop">
                                <div class="flexrow">
                                    <div class="value">
                                        <span class="{{lookup @root.dieResultCss key}}"> {{lookup @root.atk key}}</span> vs {{#if owner}}{{lookup @root.dc key}}{{else}}???{{/if}}: {{lookup @root.result key}}
                                    </div>
                                    <div class="roll-controls">
                                        <span class="warning fas fa-exclamation-circle"></span>
                                        {{#if (lookup @root.hit key)}}<span class="accept fas fa-check-circle"></span>{{/if}}
                                    </div>
                                </div>
                                <div class="hover-roll">
                                    {{{lookup @root.atkHTML key}}}
                                </div>
                            </div>
                        {{/if}}
                        {{#if @root.hasDamage}}
                            <div class="damage-roll card-buttons item item-prop">
                                {{#if @root.mRoll}}
                                    <button data-action="damage">{{localize "ARd20.Damage"}}</button>
                                {{else}}
                                    {{{lookup @root.dmgHTML key}}}
                                {{/if}}
                            </div>
                        {{/if}}
                    </li>
                {{/each}}
            </ol>
        {{/if}}
    </div>
    <footer class="card-footer">
        {{#each data.properties}}
            <span>{{this}}</span>
        {{/each}}
    </footer>
</div>
