<form>
  {{log "roll-dialog form " this}}
  <div class="form-group">
    <label> {{localize "ARd20.Formula"}} </label>
    <input type="text" name="formula" value="{{formula}}" disabled />
  </div>
  {{#if chooseModifier}}
    <div class="form-group">
      <label> {{localize "ARd20.AttributeModifier"}} </label>
      <select name="ability">
        {{selectOptions abilities selected=defaultAbility localize=true}}
      </select>
    </div>
  {{/if}}
  <div class="form-group">
    <label> {{localize "ARd20.RollSituationalBonus"}} </label>
    <input type="text" name="bonus" value="" placeholder="{{localize "ARd20.RollExample"}}" />
  </div>
  {{#if (eq type "damage")}}
    <div class="flexrow">
      {{#each damType as |part ind|}}
        {{log "part " part "index " ind}}
        {{#if (gt part.length 1)}}
          <label>Choose damage type for {{ind}} part of formula: </label>
          <select name="damageType.{{ind}}">
            {{selectOptions part selected=0 nameAttr="key" labelAttr="label"}}
          </select>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}
  <div class="form-group">
    <label> {{localize "ARd20.RollMode"}} </label>
    <select name="rollMode">
      {{selectOptions rollModes selected=defaultRollMode localize=true}}
    </select>
  </div>
  {{#if canMult}}
    <div class="form-group">
      <label> Roll for each target separately </label>
      <input type="checkbox" name="mRoll" {{checked mRoll}} />
    </div>
  {{/if}}
</form>
