<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
      <div class="grid grid-2col">
        <div class="resource">
          <label class="resource-label"> Quantity </label>
          <input type="text" name="data.quantity" value="{{data.quantity}}" data-dtype="Number" />
        </div>
        <div class="resource">
          <label class="resource-label"> Weight </label>
          <input type="text" name="data.weight" value="{{data.weight}}" data-dtype="Number" />
        </div>
      </div>
    </div>
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description"> Description </a>
    <a class="item" data-tab="attributes"> Attributes </a>
  </nav>

  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Description Tab }}
    <div class="tab" data-group="primary" data-tab="description">
      {{! To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the rollData prop. }} {{editor content=data.description target="data.description"
      rollData=rollData button=true owner=owner editable=editable }}
    </div>

    {{! Attributes Tab }}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{! As you add new fields, add them in here! }}
      <div>
        <label for="data.type">Type
          <select name="data.type">
            {{#select data.type}}
              <option value="light">Light</option>
              <option value="medium">Medium</option>
              <option value="heavy">Heavy</option>
            {{/select}}
          </select>
        </label>
        <label for="data.slot">slot
          <select name="data.slot">
            {{#select data.slot}}
              <option value="chest">Chest</option>
              <option value="gloves">Gloves</option>
              <option value="boots">Boots</option>
              <option value="head">Head</option>
              <option value="pants">Pants</option>
            {{/select}}
          </select>
        </label>
        <Label for="data.heavyPoints">
          "Подвижность": {{data.heavyPoints}}
        </Label>
      </div>
      <div>
        <table>
          <tr>
            <th>Name</th>
            <th>Physical</th>
            <th>Magical</th>
          </tr>
          {{#each config.DamageSubTypes as |dam key|}}
            <tr>
              <td>{{localize dam}}</td>
              <td>
                {{#if (and (ne key 'rad') (ne key 'force') (ne key 'psyhic'))}}
                  <input name="data.res.phys.{{key}}" value="{{lookup @root.data.res.phys key}}" />
                {{else}}
                  ---
                {{/if}}
              </td>
              <td><input name="data.res.mag.{{key}}" value="{{lookup @root.data.res.mag key}}" /></td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
  </section>
</form>
