<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="info">Info</a>
    {{#if isGM}}
      <a class="item" data-tab="data">Data</a>
    {{/if}}
  </nav>
  {{!-- Sheet Body --}}
  <section class="sheet-body" data-group="primary">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{{data.description}}}
    </div>
    {{!-- Info Tab --}}
    <div class="tab" data-group="primary" data-tab="info">
      {{editor content=data.description target="data.description"
      rollData=rollData button=true owner=owner editable=editable}}
      <div>
        <label class="">Weapon Type: </label>
        <span>{{labels.type}}</span>
        <label class="">Proficiency: </label>
        <span>{{labels.prof}}</span>
      </div>
      <hr />
    </div>
    {{!-- Data Tab --}}
    <div class="tab" data-group="primary" data-tab="data">
      <div class="grid grid-2col">
        <div>
          Type
          <select name="data.type.value">
            {{#select data.type.value}}
              {{#each config.WeaponType as |name sch|}}
                <option value="{{sch}}">{{localize name}}</option>
              {{/each}}
            {{/select}}
          </select>
        </div>
        <div>
          <div>
            Sub-Type
            <select name="data.sub_type">
              {{log data.settings}}
              {{selectOptions data.settings selected=data.sub_type nameAttr="name" labelAttr="name"}}
            </select>
          </div>
        </div>
      </div>
      <label>Properties:
      <div class="flexrow flex-group-center">
        {{#each data.property as |prop key|}}
          <div class="flexcol flex-group center grid-like-5col">
            <span>{{prop.label}}</span>
            <select name="data.property.{{key}}.value">
              {{selectOptions @root.config.Rank selected=prop.value localize=true}}
            </select>
          </div>
        {{/each}}
      </div>
      </label>
      <div class="flexcol">
        {{#each data.damage.common as |prof ind|}}
          <label for="data.damage.common.{{ind}}">
            {{ind}} damage
          </label>
          <a class="damage-control add-damage" data-type=".common.{{ind}}"><i class="fas fa-plus"></i></a>
          <ol>
            {{#each prof.parts as |part i|}}
              <li class="damage-part flexrow" data-damage-part="{{i}}">
                <input type="text" name="data.damage.common.{{ind}}.parts.{{i}}.0" value="{{part.[0]}}" />
                <label for="data.damage.common.{{ind}}.damType.{{i}}"> Damage type:
                  <select class="select2" multiple type="select-multiple" data-dtype="JSON" name="data.damage.common.{{ind}}.damType.{{i}}">
                    {{#each @root.config.DamageTypes as |dam key|}}
                      <optgroup label={{localize dam}}>
                        {{#each @root.config.DamageSubTypes as |sub k|}}
                          {{#if (or (eq key 'mag') (and (ne k 'rad') (ne k 'force') (ne k 'psyhic')))}}
                            <option value='["{{key}}", "{{k}}"]'>{{localize sub}}</option>
                          {{/if}}
                        {{/each}}
                      </optgroup>
                    {{/each}}
                  </select>
                </label>
                <a class="damage-control delete-damage" data-type=".common.{{ind}}"><i class="fas fa-minus"></i></a>
              </li>
            {{/each}}
          </ol>
        {{/each}}
      </div>
    </div>
  </section>
  </div>
  </section>
</form>
